eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/ 
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
